body{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    background-color: 
}
#logo{
height: 80px;
width: 160px;
padding: 2px;
}
.navbar{
    background-color: black;
    height:100px;
    margin: 0px;
    display: flex;
}
.links{
    list-style-type: none;
    margin-left: 25px;
    display: flex;
    padding-left: 20px;
    color: white;


  
}