/* Reset the style for the whole page */
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial Sans-serif;
  background-color:#d4d4d4;
  line-height: 1.5;
  overflow-x: hidden;
}
/* navbar */
#navbar{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  position:fixed;
  top: 0;
  justify-content: space-between;
  background-color:#d4d4d4;
  padding: 12px;
  z-index: 1;
  border-bottom: solid 2px  #ffffff;
  width: 100%;
  height: 80px;
  
}
#navbar ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* name and lastname css */
 #navbar h2{
  justify-content: center;
  align-items: center;
  display:flex;
  font-size: 32px;

}
#navbar a{
  text-decoration: none;
  color:#3AAFA9;
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  display:flex;
  align-items: center;
}
#navbar span{
  color: #ffffff;
  padding: 5px;
}


/* links in the navbar */
#navbar li a{
  color: #3AAFA9;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 28 px;
  margin: 0 16;
  padding: 6px;
}
/* hover over the links when the user click on them */
#navbar li a:hover{
  color: #ffffff;
}
.sites{
  font-size: 40px;
  padding: 10px;
}
/* home page link and characteristics */
.hero{
  /* display:flex; */
  background-image: url("./assets/images/undernav.jpg");
  background-position: center center;
  background-repeat: no-repeat; 
  height:  100vh;
  width: 100%;
  background-attachment: fixed;
  background-size:cover;
  border-bottom: solid 2px  #ffffff;

}
/* About me section displaying picture left and description to the right */
 .container{
  display: flex;
  justify-content: space-around;
  height: 350px;
  margin:20, 20, 0, 20;

}
/* picture characteristics */
.box-1{
  flex: 1;
  margin-left: 5em;
}
.box-1 .profile-picture{
  border-radius: 100%;
  display: flex;
  justify-content: center;
  height: 350px;
  width: 350px;
  border: solid 3px #3AAFA9;
  border-radius: 2%;
}
/* Description about myself */
.box-2{
  flex: 2;
  color: white;
  font-size: 32px;
  background-color:#3AAFA9;
  margin-left: 40px;
  margin-right: 20px;;
}
.box-2 p{
  text-align: center;
  padding: 20px;
  justify-content: center;
  margin: 30px;
}
/* Matching the color for Northwestern with inspect? */
.box-2 p span{
  color: #401f68;
  font-weight:  bold;
}
/* Title for About me section */
#about{
  font-size: 38px;
  color: black;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}
/* Title specs for projects section */
.title-experience{
  font-size: 38px;
  color: black;
  flex-direction: column;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
}
/* Main link to the project */
.project-image{
  width: 30%;
  border-radius: 10%;
  display:block;
  margin:auto;
  margin-bottom: 40px;
}
.container-flexbox{
  display: flex;
  margin-top: 4em;
}
.horiseon{
  flex-grow: 1;
  display:flex;
  justify-content: center;

}
.pasword{
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.horiseon-image{
  width: 400px;
  border-radius: 10%;
  margin:auto;
  margin-bottom: 40px;
}
.pasword-image{
  width: 400px;
  border-radius: 10%;
  margin:auto;
  margin-bottom: 40px;
}
.contact-info{
  height: 100vh;
  width: 100%50%;
  background-color:#3AAFA9;
  margin: 30px;
  border: solid 0.85px white
}
.contact-info h1{
  display: inline-block;
  color: white;
  margin-top: 2em;
  margin-left: 1em;
  border-bottom: 1px solid white;
  text-align: center;
  justify-content: center;
  position:center;
  font-size: 3.5em;
  list-style: none;

}
.personal-info{
  display: flex;
  color: #d4d4d4;
  text-align: left;
  justify-content: left;
  font-size: 2em;
  margin-left: 2.2em;
  margin-top:1em;
  list-style: none;
  flex-grow: 1;


}
.info-span{
  color:white;
}



/* @media screen and (max-width:765px){
  #navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    justify-content: center;
  }
  .home{
    display:none;
  }
  #navbar h2 a{
    text-decoration: none;
    color:#3AAFA9;
    font-size: 24px;
    font-weight: 600;
    padding: 3px;
    display:flex;
    align-items: center;
  }
  #hero{
    background-image: url("./assets/images/undernav.jpg");
    background-size: cover;
    height: 600px;
    width: 100%;  
    margin-bottom: 25px;
    display:flex;
  
  } */
 
