/* Reset the style for the whole page */
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Helvetica, Arial Sans-serif;
  color: #333;
  line-height: 1.5;
  overflow-x: hidden;
}
.firstname{
  color: #ffffff;
  padding:5px;
}

body{
  background-image: url("./assets/images/undernav.jpg");
  background-size: 100%;
}

/* navbar */
#navbar{
  display: flex;
  position:sticky;
  top: 0;
  justify-content: space-between;
  background-color:#d4d4d4;
  padding: 20px 12px;
  z-index: 1;
  border-bottom: solid 2px  #ffffff;
  width: 100%;
}
#navbar ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  
}
#navbar h2 a{
  text-decoration: none;
  color:#3AAFA9;
  font-size: 32px;
  font-weight: 600;
  padding: 5px;
  display:flex;
  align-items: center;
}
#navbar li a{
  color: #3AAFA9;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 28 px;
  margin: 0 16;
  padding: 6px;

}

#navbar li a:hover{
  color: #ffffff;
}
.sites{
  font-size: 40px;
  padding: 10px;
}

h2 {
border: 5px solid;
padding: 3px;
border-top-color: #3AAFA9;
border-left-color:#3AAFA9;
border-right-color:#ffffff;
border-bottom-color:#ffffff;
}
@media screen and (max-width:600px){
  #navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
  }
  .home{
    display:none;
  }
}
@media screen and (max-width:768px){
  #navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    
  }
  .home{display:none;
  }
}

